@charset "UTF-8";
/* CSS Document */

body{
	padding:0px;
	margin: 0px;
    background: #f0f0f0 !important;
}
#navbar{
	background: url(../images/title_bg.png);
	height: 50px;
}
#navbar .logo{
	float: right;
	position: absolute;
        left: 190px;

}
#promotion{
	height: 200px;
	background: #7c8fa6 url(../images/promo_bg.png) center;
}

#nav-bar a{
        color: white;
        text-decoration: none;
}

#footer .right a{
	color: black;
	text-decoration: none;
}

#footer .right a:hover{
	text-decoration: underline;
}
.breadcrumb{
	margin-bottom: 1em;
    position: relative;
    top: 10px;
    left: 0em;
    text-align: right;
}
.header{
	background: url(../images/title_bg.png);
	padding: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.breadcrumbs.title {
	color: #B8C4D4;
	text-decoration: none;
}
.size {
	font-size: 0.8em;
	color: white;
}

#sider{
    float: left;
    position: relative;
    left: 2em;
    width: 190px;
}
fieldset#shipping{
    
    position: relative;
}