<div id="footer">
  <div class="left">
    <a href="#"><img src="/images/twitter.png"></a>
    <a href="#"><img src="/images/facebook.png"></a>
    <a href="#"><img src="/images/feed.png"></a>
  </div>
  <div class="right">
    &copy; <b>Me gusta</b> | <a href="#">Privacy</a> | <a href="#">Terms</a> | <a href="#">Support</a> | <a href="#">Contact</a>
  </div>
</div>   
<%= render 'shared/google_analytics' %>
